
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-buttons-wrapper {
  display: flex;
}

.google-button, .facebook-button, .twitter-button {
  color: white;
  display: flex;
  align-items: center;
  margin: 1em;
  border: none;
}

.google-button {
  background: #CD5542;

  &:hover {
    background: darken(#CD5542, 5%);
  }
}

.facebook-button {
  background: #405993;

  &:hover {
    background: darken(#405993, 5%);
  }
}

.twitter-button {
  background: #49AAE7;

  &:hover {
    background: darken(#49AAE7, 5%);
  }
}

.auth-icon {
  font-size: 2em;
  padding: 0 0.5em;
}

.divider {
  width: 100%;
  margin: 1em 0;
  border-top: 1px solid darken($off-white, 10%);
  text-align: center;
  display: block;
  line-height: 1px;
  position: relative;
}

.divider-title {
  background: white;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 1.5em;
  text-transform: uppercase;
}