* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  
  input {
    padding: 10px;
    margin: 10px;
  }
}

.test {
  border: 2px solid cyan;
}