// Colors
$off-white: #f0f0f0;
$light-grey: #848484;
$soft-grey: #494949;
$off-black: #272727;
$link: #a866ff;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Mina');
@font-face {
  font-family: 'BEYNO';
  src: url('assets/fonts/BEYNO.ttf'),
  format('opentype');
}