.dashboard {
  display: none;
}

@media (min-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 15em;
    padding: 1em;
    background: $off-black;
    color: $off-white;
  }

  .dash-top, .dash-bottom, .dash-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .social-media {
    display: flex;
    justify-content: flex-start;

    a {
      cursor: pointer;
      padding: .5em 1em .5em 0;
      font-size: 1.5em;
      transition: 0.3s;
      color: $off-white;

      &:hover {
        transition: 0.3s;
        color: $link;
      }
    }
  }
}