.navbar {
  height: 5em;
  width: 100%;
  // position: fixed;
  top: 0;
  border: none;
  background: rgba(0,0,0,0.5);
  color: $off-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  display: flex;
}

.nav-open {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
}