.navbar {
  height: 5em;
  width: 100%;
  // position: fixed;
  top: 0;
  border: none;
  background: $off-black;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 0;
  display: flex;
}

.hamburger-nav-icon {
  border: none;
  outline: none;
  background: transparent;
  font-size: 3em;
  color: $off-white;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $link;
    transition: 0.3s;
  }
}

.nav-link {
  color: $off-white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    color: $link;
  }
}

.nav-open {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
}